* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: flex;
    padding: 0 20%;
    margin-top: 50px;
}
aside {
    width: 30%;
    background-color: rgb(46, 71, 138);
    color: white;
    padding: 5%;
}
a {
    text-decoration: none;
    color: white;
}
.margin-icons {
    margin-right: 10px;
}
.flex-container {
    display: flex;
    margin-bottom: 10px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    box-shadow: 0px 0px 10px rgb(245, 246, 247);
}
.aaa {
    display: none;
}

.margin-title {
    margin: 60px 0;
}
h3 {
    margin-bottom:15px;
}
.star {
    font-size: 18px;
}

main {
    width: 70%;
    padding: 5%;
    background-color: rgb(245, 246, 247);
}

h1 {
    color: rgb(46, 71, 138);
    font-size: 50px;
} 
hr {
    width: 10%;
    border-style:none;
    height: 4px;
    background-color: slategrey;
    margin:2% 0;
}
h2, section h3 {
    color:steelblue
}
h4 {
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 3%;
}

.logo {
    margin-left: 2%;
    height: 24px;
}
.date {
    color: gray;
    font-weight: lighter;
    margin-bottom: 1%;
}
section span {
    margin: 0 1%;
}
ul {
    margin-left: 3%;
}
ul li {
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
}
.align {
    align-items: center;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.wrap a {
    width:20%;
    margin: 2%;
}
.wrap img {
    width: 100%;

}
.social img {
    filter: invert();
}

.companies {
    background-color: rgb(245, 246, 247);
    justify-content: space-between;
}
.companies img {
    margin: 5% 5%;
    width: 30%;
}

.download {
    position:fixed;
    width: 50px;
    top: 20px;
    left: 95%;
    color: gray;
}
.download span {
    font-size: 50px;
    cursor: pointer;
    transition: font-size 0.3s;
}

.download span:hover {
    font-size: 60px;
}

@media (max-width: 1300px) {
    .container {
        padding: 0;
        margin-top: 0;
    }
    .aside, main {
        width: 100%;
    }
    .download {
        position: relative;
        left: 80%;
    }
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
        font-size: 20px;
    }
    aside {
        width: 100%;
        padding: 10%;
    }
    aside h3 {
        text-align: center;
    }
    main {
        width: 100%;
        padding: 10%;
    }
    .personal-profile p, ul li {
        text-align: justify;
    }
    .aaa {
        display: block;
    }

    .aaa h1, .aaa h2 {
        color: rgb(127, 155, 218);
        text-shadow: 0 0 3px white;
    }
    .download {
        left: 80%;
        position: fixed;
    }
}


@media print {
    .container { 
        margin: 0;
        padding: 0;
    }
    .container p, .container li, .container a{
        font-size: 12px;
    }
    aside {
        padding: 2%;
    }
    
    .margin-title {
        margin: 30px 0;
    }
    
    .wrap {
     flex-wrap: nowrap;
     flex-direction: column;
     align-items: flex-start;
     padding-right: 10%;
    }
    .wrap a img {
        display: none;
    }
    .wrap a[href]::after {
        content:attr(href);
    }
    .download {
        display: none;
    }
    .no-print {
        display: none;
    }
}

@page {
    margin: 5px;
}
